@model VirtualTeacher.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error: @TempData["StatusCode"]</h1>
<h2 class="text-danger">@TempData["ErrorMessage"]</h2>
