@{
    ViewData["Title"] = "Courses";
    bool isLogged = Context.Session.Keys.Contains("CurrentUser");

}

@model PaginatedList<Course>

 <div>
    <ul>
         @{
            foreach (var course in Model)
            {
                <li>
                <a asp-controller="Course" asp-action="Details">@course.Title</a>
                Teacher: @course.ActiveTeachers[0].Username 
                Rating: @(course.Ratings.Any() ? course.Ratings.Average(r => r.Value) : 0.0)
                Number of enrolled students: @course.EnrolledStudents.Count()
                </li>
            }
         }
    </ul>
</div>