@{
    ViewData["Title"] = "New Lecture";
}

@model LectureCreateViewModel

<h4>Create a new lecture</h4>

<form asp-controller="Lecture" asp-action="Create" method="post">

    <div style="width: 60%">

        <div class="mb-3">
            <input asp-for="Title" class="form-control" id="lectureTitle" placeholder="Title your lecture">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <textarea asp-for="Description" class="form-control" id="lectureDescription" rows="2" placeholder="Describe your lecture">@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input asp-for="VideoLink" class="form-control" id="lectureVideo" rows="1" placeholder="Place your video link">
            <span asp-validation-for="VideoLink" class="text-danger"></span>
        </div>

        <div class="mb-3">
            @*to do - breaks when model state isnt valid*@
            @*<a asp-controller="Course" asp-action="Details" asp-route-id="@TempData["CourseId"]" class="btn btn-danger">Cancel</a>  *@
            <input class="btn btn-danger" name="action" onclick="history.back()" type="submit" value="Cancel"/>
            <input type="submit" value="Post" class="btn btn-primary" />
        </div>

    </div>

</form>