@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
}


<form asp-controller="Account" asp-action="Password" method="post">
    <div style="max-width: 400px; margin: auto">
        <img class="user-avatar-photo" src="~/images/avatar-default.png" alt="User Photo"/>
        <h3 style="max-width: 400px; margin: 0 auto 20px auto; text-align: center">@Model.Username</h3>

        <div class="form-floating mb-2">
            <input asp-for="NewPassword" type="password" class="form-control" id="floatingNewPassword" placeholder="New Password">
            <label asp-for="NewPassword" for="floatingNewPassword">New Password</label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-floating mb-4">
            <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="floatingConfirmNewPassword" placeholder="Confirm New Password">
            <label asp-for="ConfirmNewPassword" for="floatingConfirmNewPassword">Confirm New Password</label>
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="CurrentPassword" type="password" class="form-control" id="floatingCurrentPassword" placeholder="Current Password">
            <label asp-for="CurrentPassword" for="floatingCurrentPassword">Current Password</label>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <input style="margin: 25px auto 0 auto; display: block; width: 100%" class="btn btn-primary mt-0" type="submit" value="Change Password"/>
    </div>
</form>