html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-template-rows: 100px 1fr 80px;
}

nav {
    grid-area: nav;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    grid-area: main;
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    grid-area: footer;
    height: 50px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.sidebar {
    height: calc(100% - 449px);
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 110px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 30px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}